<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxtl.business.mapper.second.CompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yxtl.business.entity.second.Company">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="nickname" property="nickname" />
        <result column="tel" property="tel" />
        <result column="credit_code" property="creditCode" />
        <result column="password" property="password" />
    </resultMap>

<!--    <select id="searchCompany" resultType="java.lang.String">-->
<!--        SELECT name FROM company WHERE name like CONCAT('%', #{name}, '%')-->
<!--    </select>-->

    <select id="searchCompany" resultType="java.lang.String">
        SELECT name FROM company
    </select>

    <select id="showCompanyByPage" resultType="com.yxtl.business.dto.second.CompanyDTO">
        SELECT  c.id,
                c.name,
                c.tel,
                c.password,
                count(c.id) as nodeNum,
                count(n.user_id) as nodeNumA,
                max(n.last_time) as lastTime,
                a.id AS accountId,
                a.company_id,
                a.password AS accountPWD,
                a.balance
        FROM company c
                 LEFT JOIN node n ON c.id =n.company_id
                 LEFT JOIN product_account a ON c.id = a.company_id
        group by c.id
    </select>

    <select id="searchNodeByCompany" resultType="com.yxtl.business.dto.second.NodeDTO">
        SELECT n.node_num as nodeNum,
               u.name as userName,
               n.last_time as lastTime,
               n.lng,
               n.lat
        from node n
                 left join company c on n.company_id=c.id
                 left join user u on n.user_id=u.id
        where c.name=#{companyName}
    </select>
</mapper>
